// 头部面包屑和按钮样式
.headNav {
  height: 34px;
  margin-bottom: 15px;
  .el-breadcrumb {
    float: left;
    height: 34px;
    line-height: 34px;
  }
  .el-button {
    float: right;
    color: #fff;
    background-color: #5466e0;
    margin: 0;
  }
}
// 黑色
.black {
  color: #000000;
}
.blue {
  color: #5466E0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
// 改变element屏幕的自适应布局本身的样式
@media only screen and (min-width: 1550px) {
  .el-col-xl-6 {
    width: 25%;
  }
}
// 详情大盒子
.detail_body {
  color: #606060;
  ::-webkit-scrollbar{
    width:5px;
  }
  ::-webkit-scrollbar-track{
    background:rgba(217,218,220,1);
    border-radius:2px;
  }
  ::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:10px;
  }
  
  
  // 详情文字介绍
  .detail_box {
    margin-bottom: 20px;
    .detail {
      position: relative;
      padding: 12px;
      box-sizing: border-box;
      background-color: #fff;
      border: 1px solid #EEEFFF;
      font-size: 14px;
      color: #606060;
      .title {
        height: 22px;
        line-height: 22px;
        margin-bottom: 30px;
        box-sizing: content-box;
        .box_title {
          position: relative;
          margin-left: 10px;
          font-size: 16px;
          color: #5466e0;
        }
        .box_title:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 16px;
          top: 3px;
          left: -10px;
          background-color: #5466e0;
        }
        .box_title_center {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          .title_green {
            color: #27b102;
          }
          .title_blue {
            color: #5466E0;
          }
          .title_yellow {
            color: #FFD04E;
          }
        }
        .box_title_right {
          position: absolute;
          right: 16px;
          color: #6d727a;
          .title_green{
            color: #27b102;
          }
          .title_blue {
            color: #5466E0;
          }
          .title_yellow {
            color: #FFD04E;
          }
        }
        .box_title_two {
          position: absolute;
          left: 200px;
          color: #6d727a;
          .title_green{
            color: #27b102;
          }
          .title_blue {
            color: #5466E0;
          }
          .title_yellow {
            color: #FFD04E;
          }
        }
        .box_title_three {
          position: absolute;
          left: 460px;
          color: #6d727a;
          .title_green{
            color: #27b102;
          }
          .title_blue {
            color: #5466E0;
          }
          .title_yellow {
            color: #FFD04E;
          }
        }
        @media screen and (max-width: 1500px) {
          .box_title_two {
            left: 100px;
          }
          .box_title_three {
            left: 300px;
          }
        }
      }
      .main {
        padding-left: 12px;
      }
      .row {
        height: 22px;
        line-height: 22px;
      }
      .small_round {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-top: -2px;
        margin-right: 4px;
        vertical-align: middle;
      }
      .iconicon_cog {
        position: absolute;
        bottom: 12px;
        right: 15px;
        font-size: 81px;
        color: #190e74;
        opacity: 4%;
      }
      .round-box {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        .usage {
          position: absolute;
          width: 100%;
          top: calc(50% + 80px);
          text-align: center;
          color: #606060;
        }
      }
    }
    .run_detail {
      .row {
        margin-bottom: 29px;
      }
    }
    .lineChart {
      .lineChart_title {
        margin-bottom: 14px;
      }
      .rightBox {
        float: right;
        .square {
          float: left;
          display: flex;
          width: 80px;
          font-size: 12px;
          text-align: center;
        }
        .square:before {
          content: '';
          width: 16px;
          height: 6px;
          display: inline-block;
          align-self: center;
          background-color: #5cabfb;
          margin-right: 8px;
        }
        .two:before {
          background-color: #2ed6c6;
        }
        .three:before {
          background-color: #ffd04e;
        }
        .four:before {
          background-color: #6d7ee1;
        }
      }
    }
  }
  // 柱形图盒子
  .histogram_box {
    position: relative;
    height: 100%;
    .histogram_cdef {
      position: absolute;
      height: 64px;
      line-height: 64px;
      padding: 0 32px;
      width: 100%;
      border-radius: 32px;
      background-color: #f8f7fb;
      background: rgba(248, 247, 251, 0.5);
      .disk {
        font-weight: bold;
        color: #606060;
        opacity: 100%;
        display: inline-block;
        width: 70px;
        text-align: right;
      }
      .histogram_middle_box {
        display: inline-block;
        width: calc(100% - 122px);
        .figure {
          display: inline-block;
          width: 100%;
          height: 8px;
          border-radius: 4px;
          border: 1px solid #eeefff;
          background-color: #e8e8e8;
          .figure_small {
            width: calc(100% * 0.55);
            height: 8px;
            border-radius: 4px;
            background-color: #27b102;
            margin-top: -1px;
            margin-left: -1px;
          }
        }
        .text {
          position: absolute;
          width: 140px;
          height: 20px;
          line-height: 20px;
          top: 38px;
          left: calc(50% - 50px);
          color: #606060;
          font-size: 14px;
        }
      }
      .percentage {
        font-size: 16px;
        color: #27b102;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
    .histogram_cdef:nth-child(1) {
      top: 55px;
    }
    .histogram_cdef:nth-child(2) {
      top: 134px;
    }
  }
  // 描述信息
  .describe_box {
    margin-top: 20px;
    .detail {
      height: 180px;
    }
    .describe_detail {
      background-color: #fff;
      .information {
        margin-left: 10px;
        .el-col {
          margin-top: 20px;
          color: #6d727a;
        }
      }
    }
  }
}