// 头部面包屑和按钮样式
.headNav {
  height: 34px;
  margin-bottom: 15px;
  .el-breadcrumb {
    float: left;
    height: 34px;
    line-height: 34px;
  }
  .el-button {
    float: right;
    color: #fff;
    background-color: #5466e0;
    margin: 0;
  }
}
// 详情标题栏和圆形滚动条样式
.detail_body {
  .detail_box {
    .detail {
      position: relative;
      height: 240px;
      padding: 0 12px;
      box-sizing: border-box;
.detail_body {
  .run_hardDisk_box {
    .run_detail,
    .hardDisk_detail {
      position: relative;
      height: 240px;
      padding: 0 12px;
      background-color: #fff;
      .title {
        height: 22px;
        line-height: 22px;
        padding-top: 12px;
        box-sizing: content-box;
        .tips {
          font-size: 14px;
          color: #000;
          overflow: hidden;
          p{
            display: inline-block;
          }
          .buttons {
            float: right;
            span{
              display: inline-block;
              padding: 5px 10px;
              border-radius: 5px;
              border:1px solid rgba(0, 0, 0, 0.14);
            }
          }
        }
        .box_title {
          position: relative;
          margin-left: 10px;
          font-size: 16px;
          color: #5466e0;
        }
        .box_title:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 16px;
          top: 3px;
          left: -10px;
          background-color: #5466e0;
        }
      }
      .round-box {
        position: relative;
        height: 100%;
        width: 100%;
        top: -34px;
        left: -6px;
        .usage {
          position: absolute;
          width: 100%;
          top: calc(50% + 80px);
          text-align: center;
          color: #606060;
        }
      }
    }
  }
  // 柱形图盒子
  .histogram_box {
    position: relative;
    height: 100%;
    .histogram_cdef {
      position: absolute;
      height: 64px;
      line-height: 64px;
      padding: 0 32px;
      width: 100%;
      border-radius: 32px;
      background-color: #f8f7fb;
      background: rgba(248, 247, 251, 0.5);
      box-shadow: 0px 0px 3px 0px rgba(156, 158, 172, 0.25);
      .disk {
        font-weight: bold;
        color: #606060;
        opacity: 100%;
      }
      .histogram_middle_box {
        display: inline-block;
        width: calc(100% - 100px);
        .figure {
          display: inline-block;
          width: 100%;
          height: 8px;
          border-radius: 4px;
          border: 1px solid #eeefff;
          background-color: #e8e8e8;
          .figure_small {
            width: calc(100% * 0.55);
            height: 8px;
            border-radius: 4px;
            background-color: #27b102;
            margin-top: -1px;
            margin-left: -1px;
          }
        }
        .text {
          position: absolute;
          width: 130px;
          height: 20px;
          line-height: 20px;
          top: 38px;
          left: calc(50% - 65px);
          color: #606060;
          font-size: 14px;
        }
      }
      .percentage {
        font-size: 16px;
        color: #27b102;
        margin-left: 13px;
        vertical-align: middle;
      }
    }
    .histogram_cdef:nth-child(1) {
      top: 55px;
    }
    .histogram_cdef:nth-child(2) {
      top: 134px;
    }
  }
  // 描述信息
    }
    .run_detail {
      margin-right: 22px;
      .run_detail_body {
        font-size: 14px;
        color: #606060;
        div {
          height: 35px;
          line-height: 35px;
          span:nth-of-type(1) {
            float: left;
            width: 50%;
          }
          span:nth-of-type(2) {
            float: right;
            width: 50%;
            text-align: left;
          }
        }
        div:nth-of-type(1) {
          margin-top: 15px;
          span:nth-of-type(2) i {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-top: -2px;
            vertical-align: middle;
          }
        }
      }
      .iconicon_cog {
        position: absolute;
        bottom: 12px;
        right: 15px;
        font-size: 81px;
        color: #190e74;
        opacity: 4%;
      }
    }
    .hardDisk_detail {
      .hardDisk_detail_round {
        height: 100%;
        border-right: 1px solid #ececec;
      }
    }
    .partition {
      .histogram_title {
        margin-left: 47px;
        margin-top: 16px;
        color: #606060;
        font-size: 14px;
      }
    }
    .histogram_box_one {
      position: relative;
      .histogram_cdef {
        position: absolute;
        height: 64px;
        line-height: 64px;
        padding: 0 32px;
        width: 100%;
        border-radius: 32px;
        // background-color: #f8f7fb;
        background-color: pink;
        opacity: 50%;
        .disk {
          font-weight: bold;
          color: #606060;
        }
        .histogram_middle_box {
          display: inline-block;
          width: 50%;
          .figure {
            display: inline-block;
            width: 100%;
            height: 8px;
            border-radius: 4px;
            border: 1px solid #eeefff;
            background-color: #e8e8e8;
            .figure_small {
              width: calc(100% * 0.55);
              height: 8px;
              border-radius: 4px;
              background-color: #27b102;
              margin-top: -1px;
              margin-left: -1px;
            }
          }
          .text {
            color: #606060;
            font-size: 14px;
          }
        }
        .percentage {
          font-size: 16px;
          color: #27b102;
          margin-left: 13px;
          vertical-align: middle;
        }
      }
      .histogram_cdef:nth-child(1) {
        top: 55px;
      }
      .histogram_cdef:nth-child(2) {
        top: 134px;
      }
    }
  }
  .memory_box {
    margin-top: 20px;
    .memory_box_round,
    .memory_box_lineChart {
      height: 287px;
      background-color: #fff;
    }
    .memory_box_lineChart {
      padding-left: 22px;
    }
  }
  .cpu_disk_box {
    margin-top: 20px;
    .cpu_detail,
    .disk_detail {
      background-color: #fff;
      height: 331px;
    }
    .cpu_detail {
      margin-right: 11px;
    }
    .disk_detail {
      margin-left: 11px;
    }
  }
  .describe_box {
    margin-top: 20px;
    .describe_detail {
      background-color: #fff;
      height: 180px;
      .information {
        margin-left: 10px;
        .el-col {
          margin-top: 20px;
          color: #6d727a;
          span {
            color: #000000;
          }
        }
      }
    }
  }
}