// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}
// Cover the .el-input style 
.el-input {
  background-color: transparent;
  border-radius: 0;
  @include themeify {
    border: 1px solid themed("inputBorderColor");
  }
}
.el-input__inner {
  background-color: transparent;
  text-transform: none;
  border-color: transparent;
  padding: 0 5px;
  outline:none!important;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: transparent;
  outline: 0;
}
.el-input__inner:hover {
  border-color: transparent;
}
// Cover the .el-button style
.el-button:not(.el-button--text) {
  height: 34px;
  padding: 0 29px;
  border-radius: 17px;
  font-size: 16px;
  opacity: 79%;
  border: none;
  margin: 10px;
}
.el-button:not(.el-button--text):nth-last-child(1) {
  margin-right: 0;
}
.el-button--primary {
  background-color: #787ee5;
}
.el-button--success {
  background-color: #14a9ec;
}
.el-button--warning {
  background-color: #f67b12;
}
.el-button--primary:focus, .el-button--primary:hover {
  background-color: #787ee5;
}
.el-button--success:focus, .el-button--success:hover {
  background-color: #14a9ec;
}
.el-button--warning:focus, .el-button--warning:hover {
  background-color: #f67b12;
}
// Cover the .el-select style
.pagination-total .el-select {
  .el-input {
    box-sizing: border-box;
    width: 78px!important;
    height: 33px;
    .el-input__inner {
      color: #2c2b40;
      border: none;
    }
    // 覆盖select下拉框默认的下拉样式 替换成阿里icon图标
    .el-icon-arrow-up:before {
      font-family:"iconfont";
      content: '\e640;';
      color: #787ee5;
      font-size: 20px;
      display: inline-block;
      width: 20px;
      height: 100%;
      overflow: hidden;
    }
  }
  .el-select .el-input__inner:focus {
    border-color: transparent;
  }
  .el-select .el-input.is-focus .el-input__inner {
    border-color: transparent;
  }
  .el-popper {
    min-width: 78px!important;
  }
  .el-popper[x-placement^=bottom] .popper__arrow::after {
    border-color: transparent;
  }
  .el-select-dropdown {
    border-radius: 0;
  }
}
// Cover the .el-pagination style

// Cover the .el-dialog style
.el-dialog__header {
  background-image: linear-gradient(to right, #1E1D38 , #313048, #24233D);
  height: 50px;
  line-height: 50px;
  padding: 0;
  .el-dialog__title {
    color: #fff;
    padding: 0 0 0 10px;
  }
  .el-dialog__headerbtn .el-dialog__close  {
    color: #fff;
  }
}
.el-dialog__body {
  padding: 16px 20px;
}
.el-dialog__body .smallTitle {
  color: #7E83EA;
  display: inline-block;
  margin: 12px 0px;
  width: 100%;
}
.el-dialog__body .smallTitle:before {
  content: '';
  width: 4px;
  height: 12px;
  margin-right: 8px;
  display: inline-block;
  background-color: #7E83EA;
  vertical-align: middle;
}
.el-dialog__body .smallTitle:after {
  content: '';
  height: 1px;
  width: calc(100% - 88px);
  margin-left: 20px;
  display: inline-block;
  background-color: #E4E5FA;
  vertical-align: middle;
}
.el-form-item__label {
  color: #5B5B65;
  font-family: MicrosoftYaHei;
  font-size: 14px;

}
.el-dialog__footer {
  text-align: center;
}

.el-table__column-filter-trigger i{
  @include themeify {
    color: themed("highLight");
  }
}
.el-tabs--card>.el-tabs__header,.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:none
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
  color: #302E47;
  background-color: rgba(120,126,229,0.1);
  border: none;
  border-radius:5px 0 0px 0px;
  height: 33px;
  line-height: 33px;
  padding: 0;
  width:98px;
  margin-right: 25px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  font-size: 15px;
  &::after{
    content: '';
    position: absolute;
    right: -30px;
    width: 0;
    height: 0;
    border-bottom: 40px solid rgba(120,126,229,0.1);
    border-right: 30px solid transparent;
  }
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  background-color: rgba(120,126,229,0.4);
  &::after{
    border-bottom: 40px solid rgba(120,126,229,0.4);
  }
}
.el-tabs--bottom .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--border-card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--border-card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2){
  padding: 0;
}
.el-tabs--bottom .el-tabs--left>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top .el-tabs--left>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top .el-tabs--right>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top.el-tabs--border-card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item:last-child{
  padding: 0;
}
.el-tabs__header{
  margin: 0;
}

.el-checkbox__input.is-checked .el-checkbox__inner{
  border-color: #B1B1B1;
  background-color: #fff;
}
.el-checkbox__inner::after{
  border:2px solid #2C2B40;
  border-left: 0;
  border-top: 0;
}