// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}
// Cover the .el-input style 
.el-input {
  width: 360px!important;
  height: 36px!important;
  padding: 0;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: normal;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-radius: 0;
  @include themeify {
    border: 1px solid themed("inputBorderColor");
  }
}
.el-input__inner {
  @include themeify {
    color: themed("inputColor");
  }
  background-color: transparent;
  text-transform: none;
  border-color: transparent;
  padding: 0 5px;
  outline:none!important;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: transparent;
  outline: 0;
}
.el-input__inner:hover {
  border-color: transparent;
}
// Cover the .el-button style
.el-button--primary {
  border-radius: 0;
  @include themeify {
    color: themed("btnSizeColor");
    background-color: themed("btnBgColor");
    border-color: themed("btnBorderColor");
  }
}


.el-table__column-filter-trigger i{
  @include themeify {
    color: themed("highLight");
  }
}
.el-tabs--card>.el-tabs__header,.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:none
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
  color: #fff;
  background-color: #112f31;
  border: none;
  margin-left: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  width: 78px;
  text-align: center;
  vertical-align: bottom;
  font-size: 12px;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  height: 30px;
  line-height: 30px;
  width: 98px;
  background-color: #067177;
  font-size: 14px;
}
.el-tabs--bottom .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--border-card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--border-card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2){
  padding: 0;
}
.el-tabs--bottom .el-tabs--left>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top .el-tabs--left>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top .el-tabs--right>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top.el-tabs--border-card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item:last-child{
  padding: 0;
}